.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register {
    cursor: pointer;
}

input {
    height: 18px;
}
button {
    padding: 0;
    margin: 0;
}
.register {
    margin-top: 50px;
}
.footer {
    margin: 0;
    text-align: center;
}